@font-face {
    font-family: "Splat-title";
    src: url("./fonts/SplatoonTitle.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Splat-text";
    src: url("./fonts/SplatoonText.otf");
    font-style: normal;
    font-weight: normal;
}
/* Language Fonts */
/* Japan */
@font-face {
    font-family: "Kurokane";
    src: url("./fonts/JPja/Kurokane.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rowdy";
    src: url("./fonts/JPja/Rowdy.otf");
    font-style: normal;
    font-weight: normal;
}
/* Chinese (Simplified) */
@font-face {
    font-family: "HanyiZongyi";
    src: url("./fonts/CNzh/hanyi_zongyi.ttf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HuakangZongyi";
    src: url("./fonts/CNzh/huakang_xinzongyi.ttc");
    font-style: normal;
    font-weight: normal;
}
/* Korean */
@font-face {
    font-family: "KCUBEr";
    src: url("./fonts/KRko/AsiaKCUBE-R.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "KERINm";
    src: url("./fonts/KRko/AsiaKERIN-M.otf");
    font-style: normal;
    font-weight: normal;
}
/* Chinese (Traditional) */
@font-face {
    font-family: "DFPT_AZ5";
    src: url("./fonts/TWzh/DFPT_AZ5.otf");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "DFPT_ZY9";
    src: url("./fonts/TWzh/DFPT_ZY9.otf");
    font-style: normal;
    font-weight: normal;
}

body, select, input {
    font-family: 'Splat-text';
}

.tab {
    font-family: 'Splat-title';
}

body[lang="JPja"], body[lang="JPja"] select, body[lang="JPja"] input, option[value="JPja"] {
    font-family: 'Splat-text', 'Kurokane';
}

body[lang="JPja"] .tab {
    font-family: 'Splat-title', 'Rowdy';
}

body[lang="KRko"], body[lang="KRko"] select, body[lang="KRko"] input, option[value="KRko"] {
    font-family: 'Splat-text', 'KERINm';
}

body[lang="KRko"] .tab {
    font-family: 'Splat-title', 'KCUBEr';
}

body[lang="CNzh"], body[lang="CNzh"] select, body[lang="CNzh"] input, option[value="CNzh"] {
    font-family: 'Splat-text', "HanyiZongyi";
}

body[lang="CNzh"] .tab {
    font-family: 'Splat-title', "HuakangZongyi";
}

body[lang="TWzh"], body[lang="TWzh"] select, body[lang="TWzh"] input, option[value="TWzh"] {
    font-family: 'Splat-text', "DFPT_AZ5";
}

body[lang="TWzh"] .tab {
    font-family: 'Splat-title', "DFPT_ZY9";
}

#languageSelector {
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

#langmessage {
    text-align: center;
    font-size: 20px;
}

#langmessage {
    display: none;
}

html {
    height: 100%;
}


body {
    background-color: #1e1e1e;
    color: white;
    font-size: 20px;

    position: relative;
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    background-image: url("./camo-black.png");
}

canvas {
    margin-top: 60px;
    border-radius: 4px;
}

#container, #main {
    text-align: center;
    user-select: none;
}

#main {
    background-image: url("./background.png");
    background-position: top center;
    background-repeat: no-repeat;
    height: 645px;
    width: 856px;
    margin: auto;
}

table {
    width: fit-content;
    margin: auto;
    display: block;
    text-align: left;
}

table tr > td:first-child {
    text-align: right;
}

select, input {
    font-size: 20px;
}

a {
    color: #0791d8;
}

footer {
    font-size: 16px;
    background-color: #111111;

    border-top: solid 1px black;
    width: 100%;
    text-align: center;
}

.sitecontent {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#container {
    flex: 1;
}

.tab {
    background-image: url("./tabsmall.png");
    background-color: transparent;
    border: none;
    width: 232px;
    height: 53px;
    padding-bottom: 10px;

    color: white;
    text-shadow: 0 2px black;
    font-size: 22px;
    transition: 0.05s linear;
}
.tab.selected {
    transform: translateY(-2px);
    background-image: url("./tabsmallselected.png");
}
.hidden {
    display: none;
}

.tabcontainer {
    z-index: 1;
    position: relative;
    margin: -10px auto auto auto;
    padding-top: 5px;
    background-image: url("./tabbackground.png");
    width: 800px;
    border-radius: 15px;
}

.imglistcontainer {
    overflow-y: scroll;
    width: 750px;
    margin: auto;
    padding-top: 8px;
}

.chrome .imglistcontainer {
    overflow-y: overlay;
}

.imglistcontainer > div {
    padding: 4px;
    width: calc(170px * 4 + 6px * 3);
    margin: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 6px;
    
    box-sizing: border-box;
    padding: 0;
    height: 200px;
}

.imglistcontainer img {
    transition: .05s linear;
    background-color: #111;
    border-radius: 5px;
}

#bannercontainer img {
    width: 170px;
    height: calc(200 / 700 * 170px);
}

#badgecontainer img {
    width: 64px;
    height: 64px;
}

input[type="radio"] {
    display: none;
}
input[type="file"] {
    width: 240px;
}

input[type="radio"]:checked + span {
    text-decoration: underline;
}

img.other {
    outline: 3px solid gray;
}

img.selected {
    outline: 3px solid yellow;
    scale: 1.05;
    transform: rotate(-2deg);
}

#badgecontainer img.selected {
    transform: rotate(-5deg);
}

/* bottom padding :( */
#bannercontainer > div {
    width: 170px;
    height: 1px;
}

#badgecontainer > div {
    width: 64px;
    height: 1px;
}

div[data-name="text"] {
    padding-top: 40px;
}

div[data-name="text"] table {
    height: 208px;
}

#downloadbutton {
    margin: 8px;
}

.hidecustom .custom {
    display: none;
}
.showcustom .notcustom {
    display: none;
}

label {
    cursor: pointer;
}